@import 'mixins';

@include mq-mobile {
    ul.div__unordered-list-initial-styling {
        list-style: disc;
        margin: 20px 0;
        padding-left: 20px;
    }
    .section__div-form-wrapper {
        text-align: center;
    }
}
@include mq-tablet {

}
@include mq-desktop {
    
}