@import 'colour_palette';
@import 'mixins';


@include mq-mobile {
    .nav__unordered-list-social-media-link-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        a {
            padding: 0;
            &:hover {
                font-weight: 700;
                line-height: 1.5rem;
                text-decoration: none;
            }
        }
    }
    .section__div-form-wrapper > form, .form--div-input-wrapper {
        text-align: center;
    }

    .section__div-margin-top-bottom-twenty {
        margin: 20px 0;
    }
    .section__div-text-wrapper {
        address {
            font-style: normal;
            text-align: center;
            p {
                white-space: nowrap;
            }
        }
    }

}

@include  mq-tablet {
    form {
        align-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@include  mq-desktop {
    
}