@import 'normalize';
@import 'mixins';
@import 'colour_palette';

$pale-mauve: #FAE5FF;
$white: #ffffff;
$brown-red: #882C07;
$orange: #FE6F19;
$black: #0D0D0D;
$plum-purple: #4C0341;

@include mq-mobile {
    html {
        font-size: 125%;
    }
    h1, h2, h3, h4, h5 {
        font-family: 'Pompiere', cursive;
        margin: 0;
        padding: 0;
    }
    h2, h3, h4, h5 {
        text-transform: uppercase;
    }
    h3, h4 {
        font-size: 1.5rem;
        padding-top: 30px;
    }
    section {
        padding: 20px;
    }
    a {
        padding: 10px 20px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .header__anchor-current {
        background: $plum-purple;
        color: $white;
    }
    nav, a, footer, p {
        font-family: 'Lato', sans-serif;
    }
    img {
        display: block;
        max-width: 100%;
    }
    [class*="font-weight-bold"] {
        font-weight: 700;
    }
    body, [class*="background-pale-mauve"] {
        background: $pale-mauve;
    }
    [class*="color-pale-mauve"] {
        color: $pale-mauve;
    }
    [class*="color-white"] {
        color: $white;
    }
    [class*="color-black"] {
        color: $black;
    }
    [class*="background-white"] {
        background: $white;
    }
    [class*="background-brown-red"] {
        background: $brown-red;
    }
    [class*="color-brown-red"] {
        color: $brown-red;
    }
    [class*="border-color-orange"] {
        border-color: $orange;
    }
    [class*="border-bottom-color-orange"] {
        border-bottom-color: $orange;
    }
    [class*="color-plum-purple"] {
        color: $plum-purple;
    }
    [class*="background-plum-purple"] {
        background: $plum-purple;
    }
    [class*="no-margin"] {
        margin: 0;
    }
    .visuallyHidden {
        &:not(:focus),
        &:not(:active) { 
            clip-path: inset(100%);
            clip: rect(00 0 0);
            height: 1px;
            margin: -1px;border: 0;
            overflow: hidden;
            padding: 0;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }
    }
}

@include mq-tablet {
}

@include mq-desktop {
    
}