@import 'normalize';
@import 'mixins';
@import 'colour_palette';

@include mq-mobile {
    html {
        font-size: 125%;
    }
    h1, h2, h3, h4, h5 {
        font-family: 'Pompiere', cursive;
        color: $black;
        margin: 0;
        padding: 0;
    }
    h2, h3, h4, h5 {
        text-transform: uppercase;
    }
    h3, h4 {
        font-size: 1.5rem;
        padding-top: 30px;
    }
    h5 {
        text-align: left;
    }
    a {
        padding: 10px 20px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    nav, a, footer, p {
        font-family: 'Lato', sans-serif;
    }
    img {
        display: block;
        max-width: 100%;
    }
    footer {
        text-align: center;
    }
    [class*="padding-twenty"] {
        padding: 20px;
    }
    [class*="font-weight-bold"] {
        font-weight: 700;
    }
    body, [class*="background-pale-mauve"] {
        background: $pale-mauve;
    }
    [class*="color-pale-mauve"] {
        color: $pale-mauve;
    }
    [class*="color-white"] {
        color: $white;
    }
    [class*="color-black"], 
    [class*="color-black"]:active,
    [class*="color-black"]:focus {
        color: $black;
    }
    [class*="background-white"] {
        background: $white;
    }
    [class*="background-brown-red"] {
        background: $brown-red;
    }
    [class*="color-brown-red"] {
        color: $brown-red;
    }
    [class*="border-color-orange"] {
        border-color: $orange;
    }
    [class*="border-bottom-color-orange"] {
        border-bottom-color: $orange;
    }
    [class*="color-plum-purple"] {
        color: $plum-purple;
    }
    [class*="background-plum-purple"] {
        background: $plum-purple;
    }
    [class*="no-margin"] {
        margin: 0;
    }
    [class*="padding-left-right-bottom-twenty"] {
        padding: 0 20px 20px 20px;
    }
    [class*="padding-left-right-twenty"] {
        padding: 0 20px;
    }
    [class*="text-align-center"] {
        text-align: center;
    }
    [class*="whitespace-nowrap"] {
        white-space: nowrap;
    }
    .visuallyHidden {
        &:not(:focus),
        &:not(:active) { 
            clip-path: inset(100%);
            clip: rect(00 0 0);
            height: 1px;
            margin: -1px;border: 0;
            overflow: hidden;
            padding: 0;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }
    }
}

@include mq-tablet {
    html {
        font-size: 150%;
    }

    [class*=box-shadow-orange] {
        -moz-box-shadow:    -20px 20px 0 $orange;
        -webkit-box-shadow: -20px 20px 0 $orange;
        box-shadow:         -20px 20px 0 $orange;
    }
}

@include mq-desktop {
    
}