@import 'normalize';
@import 'mixins';

@include mq-mobile {
    header {
        background-repeat: no-repeat;        
        background-size: cover;
        background-position: center;
        padding: 10px 20px;
        &.body__heading-background-image-home {
            height: 50vh;
            background-image: url("../assets/home-header.jpg"); 
        }
        &.body__heading-background-image-blog {
            height: 50vh;
            background-image: url("../assets/blog-header.jpg"); 
        }
        &.body__heading-background-image-contact {
            height: 50vh;
            background-image: url("../assets/contact-header.jpg"); 
        }
        h1 {
            width: 125px;
        }
        h5 {
            width: 60px;
        }
        h1, h5 {
            font-weight: normal;
        }
        a {
            padding: 0;
        }
        nav {
            display: flex;
            justify-content: space-between;
        }
        .header__anchor-current {
            background: $plum-purple;
            color: $white;
            line-height: 32px;
            padding: 0 5px;
        }
    }
}

@include mq-tablet {
    header {
        padding: 20px 40px;
        &.body__heading-background-image-home {
            height: 80vh;
        }
        ul {
            display: flex;
            li {
                margin-left: 15px;
            }
        }
        h1 {
            padding-top: 50px;
            font-size: 2rem;
            line-height: 1rem;
            width: 15%;
        }
        h5 {
            padding-top: 9px;
            width: 8%;
        }
        a {
            font-size: 0.5rem;
        }
        .header__anchor-current {
            line-height: normal;
            padding: 2px 8px;
        }
    }
}

@include mq-desktop {
    
}