@import 'normalize';
@import 'reset';
@import 'global'; 
@import 'header';
@import 'contact';
@import 'blog';

@include mq-mobile {
    h4 {
        font-size: 1.5rem;
    }  
    section {
        .fas {
            display: none;
        }
    }
    .section__unordered-list-image-gallery-3 {
        li {
            padding: 10px 0;
        }
    }
}

@include mq-tablet {
    h2 {
        padding-top: 120px;
    }
    section {
        .fas {
            border-radius: 50%;
            display: inline-block;
            height: 25px;
            position: absolute;
            width: 25px;
            &::before {
                font-size: 0.74rem;
                position: relative;
                top: 1px;
            }
        }
        .fa-location-arrow {
            &::before {
                left: 4px;
            }
        }
        .fa-users {
            &::before {
                left: 3px;
            }
        }
        .fa-file {
            &::before {
                left: 7px;
            }
        }
        .fa-phone {
            &::before {
                left: 5px;
            }
        }
    }
    section:nth-of-type(1) {
        padding-bottom: 120px;
    } 
    .section__div-image-wrapper {
        align-self: flex-end;
        position: absolute;
        // width: 100%;
        .div__image-position-right {
            top: -250px;
            position: relative;
            right: -20px;
            width: 100%;
        }
    }
    .section__div-image-wrapper-width-forty-percent {
        width: 40%;
    }
    .div__image-width-half {
        max-width: 350px;
        width: 50%;
    }
    .section__unordered-list-image-gallery-3 {
        li {
            width: calc((100% - 40px) / 3);
        }
    }
    [class*="position-content"] {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div__image-transform-zero-negative-forty {
        transform: translate(0, -40px);
    }
    .div__image-transform-zero-twenty {
        transform: translate(0, 20px);
    }
    [class*="align-items-flex-end"] {
        align-items: flex-end;
    }
    [class*="position-half"] {
        padding: 20px 60px;
        width: calc(40% - 60px);
    }
    .div__section-div-column-left,
    .div__section-div-column-right {
        margin-top: 20px;
    }
    .div__div-text-wrapper {
        margin-left: 60px;
        padding-top: 30px;
    }
}

@include mq-desktop {
    .div__image-max-height {
        max-height: 350px;
        object-fit: cover;
    }
    .main__section-flex-quadrant {
        justify-content: center;
        align-items: center;
    }
}