article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media (min-width: 320px) {
  html {
    font-size: 125%;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Pompiere', cursive;
  }
  h2, h3, h4 {
    text-transform: uppercase;
  }
  h3, h4 {
    font-size: 1.5rem;
    padding-top: 30px;
  }
  a {
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav, a, footer, p {
    font-family: 'Lato', sans-serif;
  }
  img {
    display: block;
    width: 100%;
  }
  [class*="font-weight-bold"] {
    font-weight: 700;
  }
  body, [class*="background-pale-mauve"] {
    background: #FAE5FF;
  }
  [class*="color-pale-mauve"] {
    color: #FAE5FF;
  }
  [class*="color-white"] {
    color: #ffffff;
  }
  [class*="background-white"] {
    background: #ffffff;
  }
  [class*="color-black"],
  [class*="color-black"]:active,
  [class*="color-black"]:focus {
    color: #0D0D0D;
  }
  [class*="background-brown-red"] {
    background: #882C07;
  }
  [class*="color-brown-red"] {
    color: #882C07;
  }
  [class*="border-color-orange"] {
    border-color: #FE6F19;
  }
  [class*="border-bottom-color-orange"] {
    border-bottom-color: #FE6F19;
  }
  [class*="color-plum-purple"] {
    color: #4C0341;
  }
  [class*="background-plum-purple"] {
    background: #4C0341;
  }
  [class*="no-margin"] {
    margin: 0;
  }
  [class*="padding-twenty"] {
    padding: 20px;
  }
  [class*="padding-top-bottom-twenty"] {
    padding: 20px 0;
  }
  [class*="padding-bottom-twenty"] {
    padding: 0 0 20px 0;
  }
  [class*="padding-left-right-bottom-twenty"] {
    padding: 0 20px 20px 20px;
  }
  [class*="padding-left-right-twenty"] {
    padding: 0 20px;
  }
  [class*="padding-left-forty"] {
    padding-left: 40px;
  }
  [class*="text-align-center"] {
    text-align: center;
  }
  [class*="text-align-left"] {
    text-align: left;
  }
  [class*="text-align-right"] {
    text-align: right;
  }
  [class*="whitespace-nowrap"] {
    white-space: nowrap;
  }
  [class*="display-flex"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  [class*="align-justify-center"] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  [class*="flex-column"],
  .main__section-flex-quadrant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__div-form-wrapper input, .section__div-form-wrapper textarea {
    margin: 5px 0;
  }
  .section__div-form-wrapper input {
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .section__div-form-wrapper button[type="submit"] {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px;
    min-width: 212px;
  }
  .visuallyHidden:not(:focus), .visuallyHidden:not(:active) {
    border: 0;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@media (min-width: 768px) {
  h3, h4 {
    font-size: 1rem;
    padding-top: 0;
  }
  p {
    padding: 0;
  }
  [class*=box-shadow-orange-left-bottom] {
    -webkit-box-shadow: -20px 20px 0 #FE6F19;
    box-shadow: -20px 20px 0 #FE6F19;
  }
  [class*=box-shadow-orange-right-bottom] {
    -webkit-box-shadow: 20px 20px 0 #FE6F19;
    box-shadow: 20px 20px 0 #FE6F19;
  }
  [class*="align-items-center"] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  [class*="max-width-six-hundred"] {
    max-width: 600px;
  }
  [class*="font-size-half-rem"] {
    font-size: 0.5rem;
  }
  [class*="line-height-one-rem"] {
    line-height: 1rem;
  }
  [class*="padding-twenty"] {
    padding: initial;
  }
  [class*="padding-top-one-twenty"] {
    padding-top: 120px;
  }
  [class*="padding-forty"] {
    padding: 40px;
  }
  [class*="padding-top-bottom-one-twenty"] {
    padding: 120px 0;
  }
  [class*="position-relative"] {
    position: relative;
  }
  [class*="flex-row"],
  .main__section-flex-quadrant {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  [class*="justify-space-between"] {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  [class*="align-items-flex-start"] {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  [class*="main__section-flex-row-reverse"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 1rem;
  }
}

@media (min-width: 2000px) {
  main {
    margin: 0 auto;
    max-width: 1080px;
    width: 90%;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media (min-width: 320px) {
  header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
  }
  header.body__heading-background-image-home {
    background-image: url("../assets/home-header.jpg");
    height: 50vh;
    max-height: 380px;
  }
  header.body__heading-background-image-blog {
    background-image: url("../assets/blog-header.jpg");
    height: 40vh;
    max-height: 200px;
  }
  header.body__heading-background-image-contact {
    background-image: url("../assets/contact-header.jpg");
    height: 40vh;
    max-height: 200px;
  }
  header h1 {
    width: 125px;
  }
  header h5 {
    width: 60px;
  }
  header h1, header h5 {
    font-weight: normal;
  }
  header a {
    padding: 0;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav ul {
    text-align: right;
  }
  header .header__anchor-current {
    background: #4C0341;
    color: #ffffff;
    line-height: 32px;
    padding: 0 5px;
  }
}

@media (min-width: 768px) {
  header {
    padding: 20px 40px;
  }
  header.body__heading-background-image-home {
    height: 80vh;
  }
  header.body__heading-background-image-home h1 {
    font-size: 2rem;
    line-height: 1rem;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header ul li {
    margin-left: 15px;
  }
  header h1 {
    padding-top: 50px;
    width: 15%;
  }
  header h5 {
    padding-top: 9px;
    width: 8%;
  }
  header a {
    font-size: 0.5rem;
  }
  header .header__anchor-current {
    line-height: normal;
    padding: 2px 8px;
  }
  .contact h1 {
    width: 84%;
  }
}

@media (min-width: 320px) {
  .contact section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .nav__unordered-list-social-media-link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px 0;
  }
  .nav__unordered-list-social-media-link-wrapper a {
    padding: 0;
  }
  .nav__unordered-list-social-media-link-wrapper a:hover {
    font-weight: 700;
    line-height: 1.5rem;
    text-decoration: none;
  }
  .font-size-xxl-pompiere {
    font-family: 'Pompiere', cursive;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
  }
  .section__div-form-wrapper > form, .form--div-input-wrapper {
    text-align: center;
  }
  .section__div-margin-top-bottom-twenty {
    margin: 20px 0;
  }
  .section__div-text-wrapper address {
    font-style: normal;
    text-align: center;
  }
  .section__div-text-wrapper address p {
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .contact address {
    font-size: 0.75rem;
    text-align: left;
    margin-right: 20px;
  }
  .contact section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact section .section__div-form-wrapper {
    margin-top: -75px;
    text-align: center;
  }
  .contact section .section__div-form-wrapper form {
    padding: 20px 0 40px;
    width: 100%;
  }
  .contact section .section__div-form-wrapper form input[type="text"],
  .contact section .section__div-form-wrapper form input[type="email"] {
    padding: 15px 3px;
    width: 35%;
    border-bottom-width: 1px;
  }
  .contact section .section__div-form-wrapper form input[type="text"]::-webkit-input-placeholder,
  .contact section .section__div-form-wrapper form input[type="email"]::-webkit-input-placeholder {
    color: #0D0D0D;
    font-size: 0.75rem;
  }
  .contact section .section__div-form-wrapper form input[type="text"]:-ms-input-placeholder,
  .contact section .section__div-form-wrapper form input[type="email"]:-ms-input-placeholder {
    color: #0D0D0D;
    font-size: 0.75rem;
  }
  .contact section .section__div-form-wrapper form input[type="text"]::-ms-input-placeholder,
  .contact section .section__div-form-wrapper form input[type="email"]::-ms-input-placeholder {
    color: #0D0D0D;
    font-size: 0.75rem;
  }
  .contact section .section__div-form-wrapper form input[type="text"]::placeholder,
  .contact section .section__div-form-wrapper form input[type="email"]::placeholder {
    color: #0D0D0D;
    font-size: 0.75rem;
  }
  .contact section .section__div-form-wrapper form input[type="email"] {
    margin-left: 20px;
  }
  .contact section .section__div-form-wrapper form textarea {
    height: 300px;
    margin: 30px 0;
    padding: 20px;
    width: 70%;
  }
  .contact section .section__div-form-wrapper form textarea::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  .contact section .section__div-form-wrapper form textarea:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  .contact section .section__div-form-wrapper form textarea::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  .contact section .section__div-form-wrapper form textarea::placeholder {
    font-size: 0.75rem;
  }
  .contact section .section__div-form-wrapper form button {
    width: 80%;
  }
  .contact .nav__unordered-list-social-media-link-wrapper {
    width: 75%;
  }
}

@media (min-width: 320px) {
  ul.div__unordered-list-initial-styling {
    list-style: disc;
    margin: 20px 0;
    padding-left: 20px;
  }
  .section__div-form-wrapper {
    text-align: center;
  }
}

@media (min-width: 320px) {
  h4 {
    font-size: 1.5rem;
  }
  section .fas {
    display: none;
  }
  .section__unordered-list-image-gallery-3 li {
    padding: 10px 0;
  }
}

@media (min-width: 768px) {
  h2 {
    padding-top: 120px;
  }
  section .fas {
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    position: absolute;
    width: 25px;
  }
  section .fas::before {
    font-size: 0.74rem;
    position: relative;
    top: 1px;
  }
  section .fa-location-arrow::before {
    left: 4px;
  }
  section .fa-users::before {
    left: 3px;
  }
  section .fa-file::before {
    left: 7px;
  }
  section .fa-phone::before {
    left: 5px;
  }
  section:nth-of-type(1) {
    padding: 0 40px 120px;
  }
  .section__div-image-wrapper {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
  }
  .section__div-image-wrapper .div__image-position-right {
    top: -250px;
    position: relative;
    right: -20px;
    width: 100%;
  }
  .section__div-image-wrapper-width-forty-percent {
    width: 40%;
  }
  .div__image-width-half {
    max-width: 350px;
    width: 50%;
  }
  .section__unordered-list-image-gallery-3 li {
    width: calc((100% - 40px) / 3);
  }
  [class*="position-content"] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .div__image-transform-zero-negative-forty {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  .div__image-transform-zero-twenty {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  [class*="align-items-flex-end"] {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  [class*="position-half"] {
    padding: 20px 60px;
    width: calc(40% - 60px);
  }
  .div__section-div-column-left,
  .div__section-div-column-right {
    margin-top: 20px;
  }
  .div__div-text-wrapper {
    margin-left: 60px;
    padding-top: 30px;
  }
}

@media (min-width: 1024px) {
  .div__image-max-height {
    max-height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__section-flex-quadrant {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
