@media (min-width: 320px) {
  header {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body__header-background-image-home {
    background-image: url("../assets/header-image.jpg");
    background-size: cover;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
  }
  li {
    margin: 0 20px;
  }
}

@media (min-width: 320px) {
  html {
    font-size: 125%;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Pompiere', cursive;
    text-transform: uppercase;
  }
  section {
    padding: 20px;
  }
  a {
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .header__anchor_current {
    background: #FAE5FF;
    color: #ffffff;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav, a, footer, p {
    font-family: 'Lato', sans-serif;
  }
  img {
    display: block;
    max-width: 100%;
  }
  body, [class*="background-pale-mauve"] {
    background: #FAE5FF;
  }
  .fas {
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }
  .fas::before {
    left: 6px;
    position: relative;
    top: 8px;
  }
  [class*="color-pale-mauve"] {
    color: #FAE5FF;
  }
  [class*="color-white"] {
    color: #ffffff;
  }
  [class*="background-white"] {
    background: #ffffff;
  }
  [class*="background-brown-red"] {
    background: #882C07;
  }
  [class*="color-brown-red"] {
    color: #882C07;
  }
  [class*="border-color-orange"],
  [class*="border-bottom-color-orange"] {
    border-color: #FE6F19;
  }
  [class*="color-plum-purple"] {
    color: #4C0341;
  }
  [class*="background-plum-purple"] {
    background: #4C0341;
  }
}
